.btn-xl {
  /*background-color: #5bb498;*/
  background-color: #E2E2E2;
  /*border-color: #5bb498;*/
  border: none;
  color: #5bb498;
}
.btn-xl:hover {
  /*background-color: #52a48b;*/
  background-color: #c2efe1;
  /*border-color: #52a48b;*/
  border: none;
  color: #5bb498;
}

.section-subheading {
  line-height: 25px;
}

.navbar-default.navbar-shrink {
  background-color: rgb(81, 191, 157);
}

.navbar-default .navbar-nav>.active>a {
  /*background-color: rgb(81, 191, 157);*/
  background-color: rgba(1, 144, 98, 0.32);
}

.navbar-default .navbar-nav>.active>a {
  /*background-color: #c2efe1;*/
  background: #2CAF86;
}

.navbar-brand {
  padding: 0px;
}


.navbar-default .nav li a:hover, .navbar-default .nav li a:focus {
  color: #eee;
}

.navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
  /*background-color: #52a48b;*/
  background-color: #3CAB88;
}


header .intro-text .intro-lead-in {
  font-size: 25px;
}

header {
  background-image: url(../img/acro/header_bg.jpg);
}

@media (min-width: 768px) {
  header .intro-text {
      padding-top: 180px;
      padding-bottom: 80px;
  }
}

.acro-icon {
  width: 52px;
  height: 52px;
  position: absolute;
  top: 30px;
  left: 32px;
}

.text-primary {
  color: rgb(81, 191, 157);
}


@media (min-width: 768px) {
  section {
      padding: 90px 0;
  }
  
  .timeline-body ul {
    margin-left: 120px;
  }
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  background: #2CAF86;
}

.timeline .img-responsive {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}